body{
    height: 300px;
    width: 250px;
    /* background-color: #414c54; */
    background-color: #1F1F1F;
    font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;


}
h2{
    color: #FFFFFF;

}

#title-div{
    display: flex;
    align-items: center;
    gap: 60px;

}

#clips-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: white;
    gap: 10px;

}

#searchBar-div{
    border-radius: 10px;
}

#handler-div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#clear-list-btn{
    background-color: transparent;
    color: #B0B0B0;
    height: 30px;


}